<!DOCTYPE html>
<!-- adaug xmlns:th cu sursa thymeleaf, pt a specifica folosirea templating engine (atribute th:) -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <title>MVC App</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<!--    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>-->
</head>
<body>

<img src="favicon.ico" />

<!-- th:switch -> interpreteaza un switch pe atributul/variabila users, din model -->
<div th:switch="${users}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Mesaj de bun venit custom -->
            <h2>
                Welcome <span sec:authentication="name">User</span>
            </h2>
            <!-- Buton de logout-->
            <p class="my-5" sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" class="btn btn-primary">Logout</a>
            </p>

            <!-- cu tagul i adaug iconul  -->
            <p class="my-5"><a href="/signup" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
            <!-- pt switchul de mai sus definesc caseuri (ca si in Java) => daca e null afiseaza h2, altfel div-ul -->
            <h2 th:case="null">No users yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Users</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Parcurg cu un foreach lista de useri si pt fiecare adaug un rand nou cu informatiile -->
                    <tr th:each="user : ${users}">
                        <td th:text="${user.login}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.password}"></td>
                        <td><a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                        <!-- Fac un url dinamic, unde apelez ruta numita /delete/{id} -->
                        <td>
                            <a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>